@using FashionStore.Extensions;
@model IEnumerable<FashionStore.Models.Category>

@{
    ViewBag.Title = "Category list";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Category list</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    @Html.Raw(Html.BuildBreadcrumbNavigation())

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <table class="table table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryParentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryParentId)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                        </td>
                    </tr>
                }

            </table>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
