@model IEnumerable<FashionStore.Models.Product>
@using FashionStore.Extensions;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Product list";
}
<style>

    th, td.edit-col {
        white-space: nowrap;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Product list</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    @Html.Raw(Html.BuildBreadcrumbNavigation())

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <table id="tblProducts" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Collection.CollectionName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitsInStock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitsOnOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductAvailable)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Collection.CollectionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsInStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductAvailable)
                            </td>
                            <td class="edit-col">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



